<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>
        <div class="container mt-3">
            <h2>Create Your Post</h2>
            <form id="form-createpost" action="">
                <!-- <div class="mb-3">
                    <label for="image">Select Photo from Computer</label>
                    <input type="image" class="form-control" name="image">
                </div> -->
                <div class="mb-3">
                    <label for="image">Select Photo from Computer</label>
                    <input type="file" id="myFile" class="form-control" name="image">
                </div>

                <div class="mb-3">
                    <label for="caption">Caption</label>
                    <input type="text" class="form-control" name="caption">
                </div>

                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </div>
    </body>

</html>