<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body>
        <div class="container mt-3">
            <h2>Edit Post</h2>
            <form id="form-createpost" action="">
                <div class="mb-3">
                    <label for="caption">Caption</label>
                    <input type="text" class="form-control" name="caption" value="">
                </div>

                <button type="submit" class="btn btn-primary">Update Post</button>
            </form>
        </div>
    </body>

</html>