* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Bitter', serif;
    /* font-family: 'Questrial', sans-serif; */
}



#body-login {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(https://images.pexels.com/photos/2733679/pexels-photo-2733679.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#body-sign-up {
    min-height: 100vh;
    display: flex;
    background: url(https://images.pexels.com/photos/3127880/pexels-photo-3127880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#body-edit-profile {
    /* background-color: #262222; */
    color: white;
    background: url(https://images.pexels.com/photos/2088170/pexels-photo-2088170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#body-profile {
    background: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* https://images.pexels.com/photos/7130537/pexels-photo-7130537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 
  
  https://images.pexels.com/photos/7130533/pexels-photo-7130533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2

  https://images.pexels.com/photos/7130535/pexels-photo-7130535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2

  https://images.pexels.com/photos/7130493/pexels-photo-7130493.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2
  */
}

#body-create-post {
    background: url(https://images.pexels.com/photos/2088170/pexels-photo-2088170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#body-home {
    background: url(https://images.pexels.com/photos/3866851/pexels-photo-3866851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2

    ) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.wrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
    
.left {
    position: relative;
}
.panel {
    width: 300px;
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 20px 40px;
    margin: 5px 0;
    display: flex;
}

.login {
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 65%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border: 1px solid #dedede;
    border-radius: 2px;
}

.input-box::placeholder {
    color: #8a8a8a;
    font-size: 12px;
}

.input-box:focus {
    outline: none;
    border: 1px solid #8a8a8a;
}

.login-button {
    width: 100%;
    margin: 10px 0;
    padding: 7px 0;
    background-color: #b2dffc;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.sign-up {
    gap: 5px;
    font-size: 14px;
    justify-content: center;
}

.sign-up a {
    color: #3bb1ff;
    text-decoration: none;
    font-weight: 600;
}

.sign-up-page {
    flex-direction: column;
    align-items: center;
}

.sign-up-button {
    width: 100%;
    margin: 10px 0;
    padding: 7px 0;
    background-color: #b2dffc;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

#sign-up-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-signup {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-up-login {
    gap: 5px;
    font-size: 14px;
    justify-content: center;
}

.sign-up-terms {
    font-size: 14px;
    justify-content: center;
    text-align: center;
}

.sign-up-text {
    margin-bottom: 20px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
}

.sign-up-login a {
    color: #3bb1ff;
    text-decoration: none;
    font-weight: 600;
}

.profile-pic-body {
    display: flex;
    gap:50px;
    justify-content: center;
    margin-top: 20px;
}

#logo-profile {
    margin-left: 50px;
}

#profile-pic-logo {
    width: 150px;
    height: 140px;
    border-radius: 100px;
}

.profile-name-edit {
    display: flex;
    gap: 20px;
}

#form-createpost {
    margin-top: 30px;
}

.profile-content {
    display: flex;
    flex-direction: column;
}

.feed-container {
    width: 50%;
}

.content-header {
    box-sizing: border-box;
    border-top: 1px solid #8a8a8a;
    margin: auto ;
    margin-top: 50px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#profile-content-header-list {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
    display: flex;
    gap: 100px;
}

.post-card-img {
    height: 320px;
    width: 300px;
}

.post-card {
    padding: 10px;
    margin-bottom: 10px;
}

.post-saved {
    justify-content: center;
}


.fa-heart-o {
    color: red;
    cursor: pointer;
  }
  
  .fa-heart {
    color: red;
    cursor: pointer;
  }

  .save-bookmark-button {
    color: red;
    cursor: pointer;
  }

#save {
    float: right;
}
  
.created-at-post {
    font-size: 10px;
    font-style: italic;
}

.modal-image-size {
    width: 100%;
}

.each-comment {
    display: flex;
    font-size: 20px;
}

.all-comments {
    max-height: 180px;
    overflow-y: auto;
}

.header-bg-color {
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    
    height: 75px;
}

.edit-container {
    color: black;
}

.button-custom {
    background-color: #0d6efde6;
}

.comment-content {
    font-size: 15px;
}

.comment-user {
    font-size: 15px;
    font-weight: bolder;
}

.caption-content {
    /* text-align: center; */
    margin-top: 10px;;
    font-size: 20px;
}

#heart {
    display: flex;
}

.like-save {
    display: flex;
    gap: 18px
}